<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">{{ .Title }}</h1>
              {{ if gt (.Param "authors") 0 }}
              {{ $maxIndex := sub ( len .Params.authors ) 1 }}
              <p class="postAuthor">{{ range $index, $element := .Param "authors" }}{{ $element }}{{ if and ( ne $maxIndex 0 ) ( lt $index $maxIndex ) }}, {{end}}{{ end }}</p>
              {{ end }}
          {{ if not .Date.IsZero }}
          <p class="postDate">{{ .Date | time.Format "02 Jan 2006" }}</p>
          {{ end }}
        <h5 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h5>
        <div class="divider"></div>
      </div>
    </div>

    <div class="content">
      {{ .Content }}
    </div>

    {{ if gt (.Param "tags") 0 }}
      {{ $maxIndex := sub ( len .Params.tags ) 1 }}
      <p class="tagList">Tags: {{ range $index, $tag := .Param "tags"  }}<a href="/tags/{{ $tag }}">{{ $tag }}</a>{{ if and ( ne $maxIndex 0 ) ( lt $index $maxIndex ) }} | {{ end }}{{ end }}</p>
    {{ end }}
  </div>
</section>
