{{ define "main" }}
    {{ if .Site.Params.hero }}
    {{ partial "hero.html" . }}
    {{ end }}

    {{ if .Site.Params.sectionProjects }}
    {{ partial "section-projects.html" . }}
    {{ end }}

    {{ if .Site.Params.sectionOpenssf }}
    {{ partial "section-openssf.html" . }}
    {{ end }} 

    {{ if .Site.Params.sectionCollab }}
    {{ partial "section-collab.html" . }}
    {{ end }}

    {{ if .Site.Params.footer }}
    {{ partial "footer.html" . }}
    {{ end }}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{ if .Site.Params.sidebar }}
    {{ partial "sidebar.html" . }}
    {{ end }}
    
{{ end }}
