<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">{{ .Title }}
        {{ with .OutputFormats.Get "rss" -}}
        <span class="icon"><a href="{{ .Permalink }}"><i class="fa fa-rss"></i></span></a></h1>
        {{ end }}
        <div class="divider"></div>
          <div class="content">
            {{ range .Pages }}
              <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
              {{ if gt (.Param "authors") 0 }}
              {{ $maxIndex := sub ( len .Params.authors ) 1 }}
              <p class="postAuthor">{{ range $index, $element := .Param "authors" }}{{ $element }}{{ if and ( ne $maxIndex 0 ) ( lt $index $maxIndex ) }}, {{end}}{{ end }}</p>
              {{ end }}
              {{ if not .Date.IsZero }}
              <p class="postDate">{{ .Date | time.Format "02 Jan 2006" }}</p>
              {{ end }}
              <div>{{ .Content }}</div>
              <hr>
            {{ end }}
          </div>
        </div>
     </div>
   </div>

    <div class="content">
      {{ .Content }}
    </div>
  </div>
</section>
